<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="RabbitMQURI" value="localhost:5672"/>
      <add key="SubQueueNames" value="RabbitMQSample"/>
      <add key="QueueId" value="RabbitMQSample2"/>
      <add key="RMQExpiration" value="10000"/>
      <add key="ProducerInterval" value="1"/>
      <add key="ProducerBatchCount" value="1"/>
    </appSettings>
</configuration>
