<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQURI" value="localhost:5672" />
    <add key="SubQueueNames" value="RabbitMQSample" />
    <add key="QueueId" value="RabbitMQSample" />
    <add key="RMQExpiration" value="10000" />
    <add key="ProducerInterval" value="1" />
    <add key="ProducerBatchCount" value="1" />
  </appSettings>
</configuration>